<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="/static/output.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.js-example-basic-multiple').select2();
    });
  </script>
</head>

<body class="bg-gray-800 text-gray-300">
  {% if session['username'] %}
  <a href="/logout" class="fixed bg-gray-700 py-2 px-4 rounded-lg right-0 m-4">Logout</a>
  {% endif %}
  {% block content %}{% endblock %}
</body>

</html>