{% include "base.html" %}

{% block content %}
<div class="w-screen flex flex-col space-y-5 items-center pt-20">
  {% for conversations in conversations %}
  <hr class="w-4/5 border-gray-400">
  <div class="flex flex-row items-center space-x-5">
    <a href="/conversations/{{ conversations.id }}" class="text-xl">
      {{ conversations.created_at.strftime("%Y-%m-%d %H:%M")}}
    </a>
    <button hx-delete="/conversations/{{ conversations.id }}" hx-swap="delete" hx-target="closest div"
      class="bg-gray-700 hover:bg-red-400 px-4 py-2 rounded-md">
      Delete
    </button>
  </div>
  {% endfor %}
  <div class="fixed bottom-0 w-screen flex items-center justify-center">
    <button hx-post="/conversations" hx-target="none"
      class="w-4/5 py-2 px-4 bg-blue-600 rounded-lg m-4">Create conversation</button>
  </div>
</div>
{% endblock content %}