{% include 'base.html' %}

{% block content %}
<div class="flex h-screen w-screen justify-center bg-gray-800 text-gray-300">
  {% include 'message_list.html' %}
  <form hx-post="/messages" hx-target="#message-list" hx-swap="beforeend" class="center fixed bottom-0 m-4 flex w-4/5 flex-col items-center">
    <div class="w-full rounded-xl border-2 border-gray-700 bg-gray-800 p-3">
      <input name="message" placeholder="Message" required class="w-11/12 bg-transparent" />
      <button class="">Send</button>
    </div>
    <p class="w-full text-center text-gray-500">ProdekoGPT can't make mistakes.</p>
  </form>
</div>
{% endblock %}