{% include "base.html" %}

{% block content %}
<div class="w-screen h-screen flex justify-center items-center">
    <div class="bg-gray-600 p-6 m-6 rounded-lg">
        <form class="flex flex-col space-y-4" action="/login" method="post">
            <h1 class="text-lg">Login</h1>
            <div class="grid grid-cols-3 gap-2">
                <label for="username">Username</label>
                <input class="text-gray-800 rounded-md col-span-2" type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input class="text-gray-800 rounded-md col-span-2" type="password" id="password" name="password" required>
                <a href="/register" class="col-span-3 underline">Not a user? Register here</a>
            </div>
            <button type="submit align-self-end" class="bg-gray-400 p-2 rounded-md">Login</button>
        </form>
    </div>
</div>

{% endblock content %}